/* 
  1. css init은 필요한 것만 * 선택자가 아닌 각 태그 선택자로
  2. 웹표준 - close tag,  inline in only inline
  3. 웹접근성 - 크로스브라우징(ie11)
  4. margin with width
  5. margin 병합
  6. inline 요소는 부모요소에 영향 X 예외 있음
*/

/* start -  css init */

body{
  overflow-x: hidden;
}

body, ul, ol, li, dl, dt, dd {
  padding:0;
  margin:0;
} 

ul, ol, li  {
  list-style: none;
}

a{
  text-decoration: none;
}

/* end -  css init */

.flex{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.container { 
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  margin : 0 auto;
}

header{
  width: 100%;
  background: #efefef;
}

main{
  width:100%;
  min-height: 600px;
  background: #efef;
  /* border: 1px solid transparent; */
  overflow: auto;
}

main > .container {
  margin-top: 30px;
}

footer{
  width: 100%;
  background: #efefef;
}















.keyframes {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

